@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"] Info</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    51 Shaftesbury Ave<br />
    Soho, London  W1D 6BA, UK <br />
    <abbr title="Phone">P:</abbr>
    +44 844 482 5160
</address>

<address>
    <strong>Support:</strong> <a href="mailto:queensbox@delfontmackintosh.co.uk">queensbox@delfontmackintosh.co.uk</a><br />
   
</address>
