@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/d0fb-queen-banner-03.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                  
                </p>
            </div>
        </div>
       
</div>
    <div class="row home-row">
      
        <p>The Queen's Theatre is a West End theatre located in Shaftesbury Avenue on the corner of Wardour Street in the City of Westminster, London. It opened on 8 October 1907 as a twin to the neighbouring Hicks Theatre (now the Gielgud Theatre) which had opened ten months earlier. Both theatres were designed by W. G. R. Sprague.</p>
    </div>

    <div class="row home-row">
        <div class="col-12 home-col">
            <div class="text-center home-page">

                <h2>Famous Talent</h2>
                <p>
                    Throughout its history, The Queen's Theatre has seen such talents as Peggy Ashcroft, Fred and Adele Astaire, Tallulah Bankhead, Kenneth Branagh, Noël Coward, Henry Daniell, Marlene Dietrich, Robert Donat, Edith Evans, Douglas Fairbanks, Jr., John Gielgud, Cedric Hardwicke, Jack Hawkins, Nigel Hawthorne, Celia Johnson, Jane Lapotaire, Alec Guinness, Rachel Kempson, Gertrude Lawrence, Robert Morley, Stephen Fry, Anthony Quayle, Basil Rathbone, Michael Redgrave, Miranda Richardson, Margaret Rutherford, Fiona Shaw, Nigel Havers, Maggie Smith, Sybil Thorndike, Nick Jonas,and Ramin Karimloo. Recent notable shows at the Queen's include the Tony Award winning musical Contact; Cyberjam, a production by the Emmy and Tony Award winning creators of Blast!; and The Taming of the Shrew.
                </p>
            </div>
            <img src="~/images/5.4-Steel-Magnolias-September-October-2015-1024x610.jpg" width="300px" height="238" />

        </div>
        <div class="col-12 home-col">
            <img src="~/images/MAgAEqW.jpg" width="300px" height="238"/>
            <div class="text-center home-page">

                <h2>History</h2>
                <p>
                    Original plans were to name the venue Central Theatre, however after lengthy debate, it was named The Queen's Theatre and a portrait of Queen Alexandra was hung in the foyer.

                    In September 1940, a German bomb landed directly on the theatre, destroying the facade and lobby areas. The production at the time was Daphne du Maurier's Rebecca starring Celia Johnson, Owen Nares and Margaret Rutherford. The theatre remained closed until a ₤250,000 restoration was completed by Westwood Sons & Partners almost 20 years later. The auditorium retained its Edwardian decor while the lobbies and exterior were rebuilt in a modern style. The reconstructed theatre opened 8 July 1959 with John Gielgud's solo performance in Shakespeare speeches and sonnets, Ages of Man.

                    An extensive refurbishment was undertaken in the latter half of 2009 which improved public areas and increased capacity with new seating and boxes reinstated at dress circle level.
                </p>
            </div>
           
        </div>
       

    </div>
